/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

#wrapper {
	background: gold;

	.main-wrapper {
		width: 930px;
		background: blue;

		.header-wrapp {
			height: 100px;
			outline: 1px solid #000;
		}

		.container {
			height: 600px;
			outline: 1px solid #ffc;
		}

		.footer-wrapp {
			height: 100px;
			background: #000;
		}
	}
}